@media all and (max-width: 750px) {
    .profilePic {
        height: 200px;
        width: 200px;
        margin-bottom: 50px;
        border-radius: 50%;
    }

    a {
        margin-bottom: 10px;
    }
}

@media all and (min-width: 750px) {
    .profilePic {
        height: 300px;
        width: 300px;
        margin-bottom: 50px;
        border-radius: 20%;
    }

    #summary {
        margin: 50px 50px 50px 50px;
    }
}