body {
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: #393E46;
}

@media all and (max-width: 750px) {
    .mainDiv {
        padding: 20px 10px 20px 10px;
    }
}

@media all and (min-width: 750px) {
    .mainDiv {
        padding: 50px 50px 50px 50px;
    }
}

.footer {
    background-color: #393E46;
}